@import '~antd/dist/antd.css';
$bgColor: #d6e0e1;

body {
  width: 100%;
  height: 100vh;
  background-color: $bgColor;
  .title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: royalblue;
    .btn {
      width: 200px;
      height: 80px;
      border: 1px solid #dcdfe6;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      &:hover {
        color: #409eff;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
      }
      &:active,
      &:focus {
        color: #3a8ee6;
        border-color: #3a8ee6;
        outline: none;
      }
    }
  }
  ul > li {
    color: rgba(255, 51, 0, 0.5);
  }
}

.site-calendar-demo-card {
  width: 300px;
  margin: auto;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}